
.shop-page-content {
    display: flex;
    padding: 15px 30px;
    margin: 30px 0px 250px 0px;
}

a {
    text-decoration: none;
}

.product-card-ctn {
    display: flex;
    flex-wrap: wrap;
    max-width: 1500px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

}

.product-card-ctn > * {
    flex: 1;
    min-width: 250px;
    max-width: 275px;
}

.product-card-ctn a {
    margin: 10px;
}

.product-card {
    background-color: rgb(255,255,255);
    flex: 1;
    flex-basis: 300px;
    max-width: 300px;
    height: 380px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 0  ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.product-card-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.product-card-detail h4 {
    margin: 0;
}

.product-card img {
    width: 100%;
    height: auto;
}

.product-card h4,
.product-card p {
    color: black;
    margin: 0;
}


.filter-bar {
    border: 1px solid green;
}

